.pdf-download-tag {
  text-decoration: none;
  font-size: 1.2em;
  color: green;
}

.github-link-tag {
  text-decoration: none;
  font-size: 1.2em;
  color: blue;
}

.publication-link-tag {
  text-decoration: none;
  font-size: 1.2em;
  color: orange;
}

.project-video {
  /* width: 440px;
    height: 300px; */
}

.publication-image {
  width: 25vw;
}
